@model MVC_test.Models.withdrawCash

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Withdraw Money</title>
    <meta name="viewport" content="width=device-width" />
    <title>Withdraw</title>
</head>
<body>
    @using (Html.BeginForm("Withdraw", "ATM", FormMethod.Post))
    {
        <h1>WITHDRAW MONEY</h1>
        <p>Choose an amount to Withdraw</p>
        <input type="number" name="withdraw" placeholder="$$$" />
        <input type="submit" name="Submit Request" />

    }
    @if (@ViewBag.showBalance)
    {
        <p>You just removed $ @ViewBag.takeOutRequest from your account</p>
       
    }
    <div>
        Deposit Page @Html.ActionLink("Deposit", "Deposit", "ATM")
    </div>
    <div>
        Home Page @Html.ActionLink("ATM", "ATM", "Home")
    </div>

</body>
</html>
